<%= render '/books/list' %>

<div class="offset-md-1">
</div>

      <div class="col-md-8">
        <table class="table table-striped">
          <h1>users</h1>
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
          </thead>

            <% @users.each do |user| %>
          <tbody>
            <tr>
              <td><%= image_tag @user.get_profile_image(100,100) %></td>
              <td><%= user.name %></td>
            <tr>
            <% end %>
          </tbody>
        </table> 

      </div>